@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=DynaPuff:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@400;500;600;700;800&family=Staatliches&family=Tiro+Devanagari+Sanskrit&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'DynaPuff',sans-serif;
    background-color: indianred;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }